@using OShop.Helpers
@using OShop.Models

@{
    ShoppingCart cart = Model.Cart;
    var shippingOption = cart.Properties["ShippingOption"] as ShippingProviderOption;
}

<div class="cart-actions-head">
    @Html.ActionLink(T("Empty cart").Text, "Empty", "ShoppingCart", new { Area = "OShop" }, new { })
</div>
<table class="cart-items">
    <thead>
        <tr>
            <th>@T("SKU")</th>
            <th>@T("Product")</th>
            <th>@T("Unit Price")</th>
            <th>@T("Qty.")</th>
            <th>@T("Total")</th>
            <th></th>
        </tr>
    </thead>
    @{
        int i = 0;
    }
    @foreach (var entry in cart.Items) {
        <tr>
            <td>@entry.Item.SKU</td>
            <td>
                <div class="designation">
                    @if (entry.Item.ContentItem != null) {
                        @Html.ItemDisplayLink(entry.Item.Designation, entry.Item.ContentItem)
                    }
                    else {
                        @entry.Item.Designation
                    }
                </div>
                @if (!String.IsNullOrWhiteSpace(entry.Item.Description)) {
                    <div class="description">@entry.Item.Description</div>
                }
            </td>
            <td>
                @String.Format(Model.NumberFormat, "{0:C}", entry.VatIncludedUnitPrice())
            </td>
            <td>
                <input type="hidden" name="@String.Format("CartItems[{0}].Id", i)" value="@entry.Id" />
                <input type="number" name="@String.Format("CartItems[{0}].Quantity", i)" value="@entry.Quantity" class="quantity oshop-autoupdate" />
            </td>
            <td>
                @String.Format(Model.NumberFormat, "{0:C}", entry.VatIncludedSubTotal())
            </td>
            <td>
                <button type="submit" name="@String.Format("CartItems[{0}].IsRemoved", i)" class="oshop-confirm" data-msg="@T("Are you sure you want to remove this item from your cart ?")" value="true">@T("Remove")</button>
            </td>
        </tr>
        i++;
    }
    <tfoot>
        @if (shippingOption != null) {
            <tr class="total">
                <td colspan="4">
                    @T("Items total")
                </td>
                <td>
                    @String.Format(Model.NumberFormat, "{0:C}", cart.VatIncludedItemsTotal())
                </td>
            </tr>
            <tr class="total">
                <td colspan="4">
                    @T("Shipping")
                </td>
                <td>
                    @String.Format(Model.NumberFormat, "{0:C}", shippingOption.Provider.GetVatRate().GetVatIncludedPrice(shippingOption.Option.Price))
                </td>
            </tr>
        }
        <tr class="total">
            <td colspan="4">
                @T("Total")
            </td>
            <td>
                @String.Format(Model.NumberFormat, "{0:C}", cart.VatIncludedCartTotal())
            </td>
        </tr>
    </tfoot>
</table>
