@model OShop.ViewModels.ShoppingCartIndexViewModel

@using OShop.Helpers

@{
    Layout.Title = T("Your shopping cart");
}

<table class="cart-items">
    <thead>
        <tr>
            <th>@T("SKU")</th>
            <th>@T("Product")</th>
            <th>@T("Unit Price")</th>
            <th>@T("Qty.")</th>
            <th>@T("Total")</th>
        </tr>
    </thead>
    @foreach (var entry in Model.CartItems) {
        <tr>
            <td>@entry.Item.SKU</td>
            <td>
                <div class="designation">@entry.Item.Designation</div>
                @if (!String.IsNullOrWhiteSpace(entry.Item.Description)) {
                    <div class="description">@entry.Item.Description</div>
                }
            </td>
            <td>
                @if (Model.VatEnabled && entry.Item.VAT != null) {
                    @String.Format(Model.NumberFormat, "{0:C}", entry.Item.VAT.GetVatIncludedPrice(entry.UnitPrice))
                }
                else {
                    @String.Format(Model.NumberFormat, "{0:C}", entry.UnitPrice)
                }
            </td>

            <td>@T("Qty.")</td>
            <td>@T("Total")</td>
        </tr>
    }
</table>