@using OShop.Models

@{
    CustomerInfos customer = ((OrderPart)Model.ContentPart).CustomerInfos;
}

@if (customer != null) {
    <div class="order-customer">
        <h3>@T("Customer :")</h3>
        @T("First name : {0}", customer.FirstName)<br />
        @T("Last name : {0}", customer.LastName)<br />
        @T("E-mail : {0}", customer.EMail)<br />
        @T("Phone : {0}", customer.Phone)
    </div>
}