@using OShop.Models
@using System.Globalization

@{
    var details = ((OrderPart)Model.ContentPart).Details;
    NumberFormatInfo numberFormat = Model.NumberFormat;
}

<table class="cart-items">
    <thead>
        <tr>
            <th>@T("SKU")</th>
            <th>@T("Product")</th>
            <th>@T("Unit Price")</th>
            <th>@T("Qty.")</th>
            <th>@T("Total")</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var detail in details) {
    <tr>
        <td>
            @detail.Item.SKU
        </td>
        <td>
            @detail.Item.Designation
            @if (!String.IsNullOrWhiteSpace(detail.Item.Description)) {
                <span class="description">@detail.Item.Description</span>
            }
        </td>
        <td>
            @String.Format(numberFormat, "{0:C}", detail.Item.GetUnitPrice(detail.Quantity))
        </td>
        <td>
            @detail.Quantity
        </td>
        <td>
            @String.Format(numberFormat, "{0:C}", detail.Item.GetUnitPrice(detail.Quantity) * detail.Quantity)
        </td>
    </tr>
    }
</table>