@model OShop.Models.CustomerPart

<fieldset>
    <legend>@T("Customer account")</legend>
    <div>
        @Html.LabelFor(m => m.FirstName, T("First name").Text, new { @class = "required" })
        @Html.TextBoxFor(m => m.FirstName, new { @class = "text medium" })
        @Html.ValidationMessageFor(m => m.FirstName, "*")
    </div>
    <div>
        @Html.LabelFor(m => m.LastName, T("Last name").Text, new { @class = "required" })
        @Html.TextBoxFor(m => m.LastName, new { @class = "text medium" })
        @Html.ValidationMessageFor(m => m.LastName, "*")
    </div>
    <div>
        @Html.LabelFor(m => m.Email, T("Email").Text, new { @class = "required" })
        @if (Model.User == null) {
            @Html.TextBoxFor(m => m.Email, new { @class = "text medium" })
            @Html.ValidationMessageFor(m => m.Email, "*")
        }
        else {
            @Html.TextBoxFor(m => m.Email, new { @class = "text medium", @readonly = "readonly" })
        }
    </div>
</fieldset>
