@model OShop.ViewModels.OrderPartEditViewModel
@using Orchard.Utility.Extensions
@{
    Style.Require("OShopAdmin");
    if (!String.IsNullOrWhiteSpace(Model.Reference)) {
        Layout.Title = T("Order {0}", Model.Reference);
    }
    else {
        Layout.Title = T("New order");
    }
}

<div class="order-part">
    <fieldset>
        <legend>@T("Order")</legend>
        <div>
            <label for="@Html.FieldIdFor(m => m.OrderStatus)" class="inline">@T("Status")</label>
            @Html.EnumDropDownListFor(m => m.OrderStatus)
        </div>
    </fieldset>
    <fieldset>
        <legend>@T("Billing address")</legend>
        @Html.Raw(Model.BillingAddress.ReplaceNewLinesWith("<br />"))
    </fieldset>
</div>
