@model OShop.ViewModels.ShippingOptionEditViewModel

@using Orchard.ContentManagement
@using Orchard.ContentManagement.Aspects
@using OShop.Helpers

@{
    Layout.Title = T("Edit Shipping option for {0}", Model.ShippingProviderName);
}

@using (Html.BeginFormAntiForgeryPost()) {
    @Html.ValidationSummary()
    @Html.HiddenFor(m=>m.OptionId)
    @Html.HiddenFor(m=>m.ShippingProviderId)
    <fieldset>
        <legend>@T("Shipping options")</legend>
        <div>
            @Html.LabelFor(m => m.Name, T("Name"))
            @Html.TextBoxFor(m => m.Name, new { @class = "text medium" })
            @Html.ValidationMessageFor(m => m.Name, "*")
        </div>
        <div>
            @Html.CheckBoxFor(m => m.Enabled)
            @Html.LabelFor(m => m.Enabled, T("Active").Text, new { @class = "forcheckbox" })
            @Html.ValidationMessageFor(m => m.Enabled)
        </div>
        <div>
            @Html.LabelFor(m => m.ShippingZoneId)
            @Html.DropDownListFor(m => m.ShippingZoneId, Model.ShippingZones.BuildZoneSelectList(true, T("None").Text))
            @Html.ValidationMessageFor(m => m.ShippingZoneId)
        </div>
        <div>
            @Html.LabelFor(m => m.Priority, T("Priority"))
            @Html.TextBoxFor(m => m.Priority, new { @class = "text small" })
            @Html.ValidationMessageFor(m => m.Priority, "*")
        </div>
        <div>
            @Html.LabelFor(m => m.Price, T("Price"))
            @Html.TextBoxFor(m => m.Price, new { @class = "text small" })
            @Html.ValidationMessageFor(m => m.Price, "*")
        </div>
    </fieldset>

    <div>
        <button type="submit" name="submit.Save" value="create">@T("Save")</button>
        @Html.Link(T("Cancel").Text, Model.ReturnUrl, new { @class = "button primaryAction" })
    </div>
}